#container{
	margin:20px auto;
	max-width: 600px;


}
#slot1{
	width: 100px;
	height: 50px;
	margin: 1.66%;
	float: left;
	
}
#slot2{
	width: 100px;
	height: 50px;
	margin: 1.66%;
	float: left;
	
}
#slot3{
	width: 100px;
	height: 50px;
	margin: 1.66%;
	float: left;
	
}
h1{
	color:white;
	text-align: center;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}
#number{
	padding:20px;
	text-align: center;
}
table{
	float: right;
	border:1px black solid;
}
#playerName{
	font-family: courier new;
	
	}
#playerScore{
	font-family: courier new; 
}